<p i18n="@@BecomeAContent">
    I believe in the motto “The purpose of life is a life with a purpose”.
    When I started this project, my only thought was how could I, an
    ordinary working mother of a child with an undiagnosed condition,
    make a difference. My family and I worked hard to give Ishaani the
    quality of life that she deserved. I am lucky to have had the support
    of my family members in doing that. We were lucky to be working
    parents who could bear the burden of bringing up, taking care of such
    a child but there may be parents out there who may be facing
    financial problems or find it difficult to pay their medical/hospital
    bills.<br/>
    At dhvani.life we felt that we could help reach out to such parents
    and families. We want to create an awareness of GDD and for this we
    seek your help. You can choose to donate for either:<br/>
    C Sponsoring one hospitalized child, or<br/>
    C Donation for the awareness drive<br/>
    We intend to organize awareness camps across the state of
    Karnataka, reaching the remote locations as well. To do this, we need
    your assistance in the form of donations. All payments will go to
    “dhavni.life fund” and we will provide you the transaction sheets for
    all the amounts that we receive. As mentioned in our bench marks, we
    believe in not making a profit out of this. The idea is to connect such
    families to health care outlets where the child can avail medical
    facilities.
    <br/>
    We will extend this facility to other states once we prove ourselves
    in our initial attempt.<br/><br/>
    We thank you for your generosity.<br/><br/>
    Click below to make you donations.<br/>
    &lt; donor paypal option&gt;
</p>
