
<mat-list>
  <mat-card>
   <a  href="https://www.india.gov.in/topics/social-development/disabled" target="_blank"><b> Schemes for disabled</b></a>
  </mat-card>
  <mat-card class="matCard">
    <a href="http://latikaroy.org/government-facilities/" target="_blank"><b> Government facilities</b> </a>
    </mat-card>
    <mat-card>
    <a href="http://www.swavlambancard.gov.in/schemes/search" target="_blank">  <b>Unique disability ID</b> </a>
      </mat-card>
      <mat-card class="matCard">
       <a href="http://www.nhfdc.nic.in/scholarship_NF.html" target="_blank"> <b> Scholarships available</b> </a>
        </mat-card>
        <mat-card>
          <a href="https://www.icddelhi.org/index.html" target="_blank"><b> Education </b> </a>
          </mat-card>
          <mat-card class="matCard">
            <a href="http://latikaroy.org/government-facilities/" target="_blank"> <b> Government facilities</b></a>
            </mat-card>
            <mat-card>
               <a href="https://www.india.gov.in/topics/social-development/disabled" target="_blank"><b> Schemes for disabled</b></a>
              </mat-card>
              <mat-card class="matCard">
                 <a href="http://latikaroy.org/government-facilities/" target="_blank">	<b> Government facilities</b></a>
                </mat-card>
</mat-list>
<!--<input type="search" name="searchText" [(ngModel)]="searchText">
  
  <ul *ngFor="let data of usersArray| filter: searchText">

    <a href="http://latikaroy.org/government-facilities/" target="_blank"><li>{{data | slice:0:20}}</li></a>
    
  </ul>-->
  <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
  </form>