<!-- Default form contact -->
<p i18n="@@ContactFormContent">We would love to hear from you. We are open to compliments,
    comments, opinions, feedback regarding the website or links. Please
    feel free to contact us.</p>
<form style="width:35%; margin:2% auto 0 auto; background-color: white; padding:5%;box-shadow: 5px 10px 18px #888888;" class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <p class="h4 mb-4">Contact us</p>
  
    <!-- Name -->
    <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
      class="form-control mb-4" placeholder="Name">
  
    <!-- Email -->
    <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
      class="form-control mb-4" placeholder="E-mail">
  
    <!-- Subject -->
    <label>Subject</label>
    <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
      <option value="" disabled>Choose option</option>
      <option value="1" selected>Feedback</option>
      <option value="2">Report a bug</option>
      <option value="3">Feature request</option>
      <option value="4">Feature request</option>
    </select>
  
    <!-- Message -->
    <div class="form-group">
      <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
        rows="3" placeholder="Message"></textarea>
    </div>
  
    <!-- Copy -->
    <div class="custom-control custom-checkbox mb-4">
      <input formControlName="contactFormCopy" type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
      <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div>
  
    <!-- Send button -->
    <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
      mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>
  
  </form>
  <!-- Default form contact -->