<p i18n="@@acknowledgementContent">
  <span style="color:blue">  First of all, I would like to acknowledge the service and dedication of
    Dr. Pushpa G Kini’s Unit II and her pediatric team of KMC, Manipal
    since June 2010. Under her guidance, the team worked on Ishaani’s
    medical condition and gave us complete support whether it was
    dealing with emergencies or during her regular hospital visits or when
    she was admitted in the pediatric ICU.</span>
    <br/> <br/>
<span style="color:plum"> I would also like to give a shout out to the pediatric ICU team of KMC
    where Ishaani spent many days under the care of all the wonderful
    nurses who we interacted with on a regular basis. </span><br/> <br/>
<span style="color:gold"> I would like to acknowledge the encouragement and constant
    motivation received from Team MAHE FAIMER in giving this idea a
    chance to grow, see the end of the tunnel and become a working
    model.</span>
</p>
