<p i18n="@@PhysiotherapistContent">
    A physiotherapist helps in the management and development of
    movement skills. Physiotherapy may include exercises to strengthen
    weak muscles and games to improve coordination and motor skills.<br/><br/>
    “Ishaani’s went through intense physiotherapy sessions before we
    actually took for an assessment for GDD, we were told that she would
    improve through the PT sessions, as she still had her cognitive
    abilities intact, we never realized that she was going through
    regression in phases. She had PT sessions at the hospital”
</p>
