<div i18n="@@speechTherapyContent" class="div1">
    Speech and language therapy helps children learn to communicate,
    either through speech or other methods. Speech and language
    therapists can also help if there are problems with eating, drinking
    and swallowing.<br/><br/>
    <div style="padding:2%;background-color:pink;color:rgb(196, 114, 127)"> “During the initial phase when I began to suspect that something was
    off in Ishaani’s developmental chart, we had her examined by the
    department of speech and audiology when a speech language
    pathologist had a few sessions with her. Later on when she lost her
    skills, communication was the least of our problems.”
    </div></div>
