<div id="tab0"></div>
<div id="tab1"><mat-card style="width:6%;margin-top:51%;margin-right:-4%;background-color:rgb(109, 46, 95)"><br/>4<br/>Years</mat-card><img style="width:40%" class="babymile" src="./assets/sl6.jpg">
	<ul class="list-group" style=" float:right;margin-right:2%;margin-top:5%" >
    <li class="list-group-item list-group-item-primary">Uses full sentences</li>
    <li class="list-group-item list-group-item-secondary">Can have a conversation</li>
    <li class="list-group-item list-group-item-success">Uses direction words (in, on, and under)</li>
    <li class="list-group-item list-group-item-danger">Elaborate pretend play</li>
    <li class="list-group-item list-group-item-warning">Draws a person</li>
    <li class="list-group-item list-group-item-info">Dresses by self</li>
	<li class="list-group-item list-group-item-light">Knows five or more colors</li>
	<li class="list-group-item list-group-item-light">Pedals a tricycle</li>
	<li class="list-group-item list-group-item-dark">Listens to whole stories</li>
	<li class="list-group-item list-group-item-light">Says full name and age</li>
	<li class="list-group-item list-group-item-dark">Can match pictures to words</li>
  </ul></div>
<div id="tab2"><mat-card style="width:6%;margin-top:45%;margin-right:-5%;background-color:#af4c6d"><br/>3<br/>Years</mat-card><img class="babymile" src="./assets/sl5.jpg">
<ul class="list-group" style=" float:right;margin-right:2%; margin-top:5%" >
    <li class="list-group-item list-group-item-primary">Plays well with other children</li>
    <li class="list-group-item list-group-item-secondary">Can copy a circle and lines</li>
    <li class="list-group-item list-group-item-success">Rides a tricycle</li>
    <li class="list-group-item list-group-item-danger">Uses their word sentences</li>
    <li class="list-group-item list-group-item-warning">Uses pronouns</li>
    <li class="list-group-item list-group-item-info">Knows colors</li>
	<li class="list-group-item list-group-item-light">Can count to three</li>
	<li class="list-group-item list-group-item-light">Puts on T-shirt by self</li>
	<li class="list-group-item list-group-item-dark">Sings and dances</li>
	<li class="list-group-item list-group-item-light">May have fears of certain things</li>
  </ul></div>
<div id="tab3"><mat-card style="width:7%;margin-top:38%;margin-right:-6%;background-color:rgb(248, 88, 104)"><br/>2<br/>Years</mat-card><img class="babymile" src="./assets/sl3.png">
	<ul class="list-group" style=" float:right;margin-right:2%;margin-top:5%" >
    <li class="list-group-item list-group-item-primary">Signs of toilet readiness</li>
    <li class="list-group-item list-group-item-secondary">Undresses self</li>
    <li class="list-group-item list-group-item-success">Kicks a ball</li>
    <li class="list-group-item list-group-item-danger">Enjoys riding toys</li>
    <li class="list-group-item list-group-item-warning">Listens to brief stories</li>
    <li class="list-group-item list-group-item-info">Does simple puzzles</li>
	<li class="list-group-item list-group-item-light">Matches a picture and object</li>
	
  </ul></div>
<div id="tab4"><mat-card style=" width:7%;margin-top:30%;margin-right:-6%;background-color:rgb(255, 197, 172)"><br/>18<br/>Month</mat-card><img class="babymile" style="width:30%" src="./assets/s10.jpg">
<ul class="list-group" style=" float:right;margin-right:2%;margin-top:5%" >
    <li class="list-group-item list-group-item-primary">Uses around eight or more words</li>
    <li class="list-group-item list-group-item-secondary">Points to pictures in books</li>
    <li class="list-group-item list-group-item-success">Scribbles</li>
    <li class="list-group-item list-group-item-danger">Shows interest in other children</li>
    <li class="list-group-item list-group-item-warning">Plays with blocks and puzzles</li>
    <li class="list-group-item list-group-item-info">Uses a spoon and cup</li>
	<li class="list-group-item list-group-item-light">Walks quickly</li>
	<li class="list-group-item list-group-item-light">Climbs into a chair by self</li>
	<li class="list-group-item list-group-item-dark">May have tantrums</li>
	<li class="list-group-item list-group-item-light">May show interest in using the toilet</li>
  </ul></div>
<div id="tab5"> <mat-card style="width:8%;margin-top:20%; background-color:rgb(255, 131, 143) "><b><br/>12<br/>Month</b></mat-card><img class="babymile" style="width:30%" src="./assets/sl9.jpg">
	
<ul class="list-group" style=" float:right;margin-right:2%;margin-top:5%" >
    <li class="list-group-item list-group-item-primary">May start to use words</li>
    <li class="list-group-item list-group-item-secondary">Points to objects</li>
    <li class="list-group-item list-group-item-success">Turns pages in a book</li>
    <li class="list-group-item list-group-item-danger">May be shy around strangers</li>
    <li class="list-group-item list-group-item-warning">Likes to push, pull and dump things</li>
    <li class="list-group-item list-group-item-info">Hands objects to others</li>
	<li class="list-group-item list-group-item-light">Stands alone, sits down</li>
	<li class="list-group-item list-group-item-light">Crawls well</li>
    <li class="list-group-item list-group-item-dark">May take steps alone</li>
  </ul></div>
<div id="tab6"><mat-card style="margin-top:7%" ><br/>6<br/>Month</mat-card>
  <h1 >Milestone</h1>
  <img class="babymile" src="./assets/sl8.jpg">
  <ul class="list-group" style="z-index:50;margin-right:2%" >
    <li class="list-group-item list-group-item-primary">Stands by holding on to things</li>
    <li class="list-group-item list-group-item-secondary">Crawls</li>
    <li class="list-group-item list-group-item-success">Waves bye-bye and uses other gestures</li>
    <li class="list-group-item list-group-item-danger">Enjoys dump and fill toys</li>
    <li class="list-group-item list-group-item-warning">Enjoys push-and-pull toys</li>
    <li class="list-group-item list-group-item-info">Grasps small objects with thumb and finger</li>
    <li class="list-group-item list-group-item-light">Continues to shake, bang, throw, and drop rattles</li>
    <li class="list-group-item list-group-item-dark">Imitates and enjoys making different sounds</li>
  </ul>
  </div>

<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
</form><br/><br/>