
<mat-list>
  <mat-card>
 <a href="https://n.neurology.org/content/60/3/367.short" target="_blank"> <b>Evaluation of the child with global developmental delay</b> </a>
  </mat-card>
  <mat-card class="matCard">
  <a href="https://jmg.bmj.com/content/47/5/332.short" target="_blank">   <b> Rearrangements associated with global developmental delay</b></a>
    </mat-card>
    <mat-card>
     <a href="https://adc.bmj.com/content/91/8/701.abstract" target="_blank">  <b>Investigation of global developmental delay</b></a>
      </mat-card>
      <mat-card class="matCard">
        <a href="https://www.sciencedirect.com/science/article/pii/S0022347600711875" target="_blank"><b> Etiologic yield of subspecialists' evaluation of young children with global developmental delay</b> </a>
        </mat-card>
        <mat-card>
        <a href="https://pediatrics.aappublications.org/content/118/1/139.short" target="_blank">  <b> Analysis of Clinical Features Predicting Etiologic Yield in the Assessment of Global Developmental Delay </b> </a>
          </mat-card>
          <mat-card class="matCard">
            <a href="https://www.sciencedirect.com/science/article/pii/S0031395508001600" target="_blank"> <b> Global Developmental Delay and Mental Retardation or Intellectual Disability: Conceptualization, Evaluation, and Etiology:</b></a>
            </mat-card>
            <mat-card>
              <a href="https://n.neurology.org/content/77/17/1629.short" target="_blank"> <b> Genetic and metabolic testing on children with global developmental delay</b></a>
              </mat-card>
              <mat-card class="matCard">
                 <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1469-8749.2008.03197.x" target="_blank">	<b> Global developmental delay and its relationship to cognitive skills</b></a>
                </mat-card>
</mat-list>
<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
</form>