
textarea {
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    width: 600px;
    height: 300px;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    border: solid 1px #ddd;
   }
   
label {
    display: block;
    margin-bottom: 10px;
}

img {
    width:100%;
    max-width: 500px;
  }
  
  table {
      border: 2px solid black;
      font-size:100%;
      width:90%;
      margin:0 auto 0 auto;
     
 
  }
  th{
    justify-content: right;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid rgb(189, 236, 255);

  }
  td{font-size:80%;
    justify-content: right;
    border: 2px solid black;
  }
  li:before {
    content: '🚩';
    list-style-type: none;
    margin-left: -20px;
    margin-right: 10px;
    }