<p i18n="@@additionalMonetaryContent">
    Having a child with developmental delay would mean, an additional
    burden on the family’s income. Investment in terms of:<br/>
     Diapers – child may never achieve potty training<br/>
     Medicines<br/>
     Home nurses/care takers<br/>
     Equipment<br/>
     Therapists<br/>
     Visits to hospitals<br/>
    <br/>
  
    Go to   <a i18n="@@mainContactUs" routerLink="/contact" >Contact us</a> if you are a family in need of financial
    assistance, we will try to find you a donor who could help you. We
    request you to have patience and wait, till we are able to organize
    some assistance or help.
</p>
