<div class="div1" i18n="@@additionalMonetaryContent">
    Having a child with developmental delay would mean, an additional
    burden on the family’s income. Investment in terms of:<br/>
    <ul>
    <li> Diapers – child may never achieve potty training</li><br/>
    <li> Medicines</li><br/>
        <li> Home nurses/care takers</li><br/>
            <li>Equipment</li><br/>
                <li> Therapists</li><br/>
                    <li> Visits to hospitals</li><br/></ul>
    <br/>
  
    Go to   <a  routerLink="/contact" >Contact us</a> if you are a family in need of financial
    assistance, we will try to find you a donor who could help you. We
    request you to have patience and wait, till we are able to organize
    some assistance or help.
    </div>
