.sidenav-container {
    height: 100%;
    background-color: red;
  }
  
  .sidenav {
    width: 200px;
    background-color: 	#fff2cc;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
 
  
  .dropdown1 {
    position: relative;
    width:11%;
    padding:2px;
    display: inline-block;
    z-index:10;
  }
  
  .dropdown1-content {
    display: none;
    align-content: left;
    align-items: left;
    position: absolute;
    width:auto;

    min-width:260px;
    border-radius: 2%;
    background-color: rgb(191, 255, 234);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 8;
  }
  
  .dropdown1-content a {
    color: black;
    align-content: left;
    align-items: left;
    float:left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 8;
  }
  
  .dropdown1-content a:hover {   background-color: rgb(115, 255, 208);}
  
  .dropdown1:hover .dropdown1-content {display: block;}
  .dropdown:hover .dropdown-menu {display: block;}
  
  .dropdown1:hover .dropbtn {background-color: #3e8e41;}