<!--Navbar-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light"  [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand style="color:black"><a i18n="@@mainTitle" class="navbar-brand" href="#"></a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul  class="navbar-nav mr-auto">
        
        <li style="z-index: 4"  class="nav-item dropdown1">
          <a i18n="@@mainHome" mdbTooltip="Home" class=" nav-link dropdown-toggle waves-light dropbtn1" routerLink="/home" style="color:black">Home</a>
          <div class="dropdown1-content">
            <a  i18n="@@mainWhyDhvaniLife" routerLink="/home">Why dhvani.life?</a>
            <a  i18n="@@mainBeAMember" routerLink="/login">Become a member</a>
            <a  i18n="@@mainOurBenchmarks" routerLink="/benchmark">Our benchmarks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a  i18n="@@mainDisclaimer" routerLink="/disclaimer">Disclaimer</a>
            <a  i18n="@@mainInspirationForDhvaniLife" routerLink="/inspiration">Inspiration for dhvani.life</a>
        </div>
        
    </li>
         
          <li style="z-index: 4"  class="nav-item dropdown1">
            <a i18n="@@mainMilestones" mdbTooltip="Milestones" class=" nav-link dropdown-toggle waves-light dropbtn1" routerLink="/mile-stone" style="color:black">Milestones</a>
            <div class="dropdown1-content">
                <a  i18n="@@mainWhatAreDevelopmentalMilestones" routerLink="/what-are-mailestones" >What are developmentail milestones?</a>
              <a  i18n="@@mainMilestonesForANormalChild" routerLink="/milestone-for-normal-child" >Milestones for a normal child</a>
              <a  i18n="@@mainCheckYourMilestone" routerLink="check-milestone"> Check your milestone</a>
              <a  i18n="@@mainVaccinateYourChild" routerLink="vacinate-your-child" >Vaccinate your child</a>
              <a  i18n="@@mainDoctorVisit" routerLink="doctor-visit"> Planning your first doctor visit</a>
          </div>
          
      </li>
          <li style="z-index: 4"  class="nav-item dropdown1">
              <a i18n="@@mainAboutGdd" mdbTooltip="About GDD" class=" nav-link dropdown-toggle waves-light dropbtn1" routerLink="/about-gdd" style="color:black">About GDD</a>
              <div class="dropdown1-content">
                <a  i18n="@@mainAboutGDD" routerLink="/about-gdd" >What is GDD?</a>
                <a  i18n="@@mainTipsForParents" routerLink="/tips-for-parents" >Tips for parents</a>
                <a  i18n="@@mainThingsToKnow" routerLink="/things-to-know" >Things you need to know</a>

            </div>
            
        </li>
        <li  class="nav-item dropdown1">
          <a i18n="@@mainRehabilation" mdbTooltip="Help for GDD" class=" nav-link dropdown-toggle waves-light dropbtn1" style="color:black">Rehabilite</a>
          <div class="dropdown1-content">
              <a i18n="@@mainWHyRehabilitation" routerLink="/rehabilate">Why Rehabilitation</a>
            <a i18n="@@mainPhysiotherapy" routerLink="/physiotherapy">Physiotherapy</a>
            <a i18n="@@mainOccupational" routerLink="/occupationaltherapy">Occupational therapy</a>
            <a i18n="@@mainSpecial" routerLink="/speechtherapy">Special language pathologists</a>
        </div>
        
    </li>
        <li style="z-index: 4"  class="nav-item dropdown1">
          <a i18n="@@mainHelpForGdd" mdbTooltip="Help for GDD" class=" nav-link dropdown-toggle waves-light dropbtn1" style="color:black">Help for GDD</a>
          <div class="dropdown1-content">
            <a i18n="@@mainGovSchemes" routerLink="/gov-schemes" >Govt Schemes</a>
            <a i18n="@@mainResearchPaper" routerLink="/research-paper">Research paper</a>
            <a i18n="@@mainmonetary" routerLink="/additionalmonetarytherapy">Additional monetary burden</a>
        </div>
        
    </li>
  
  <li style="z-index: 4"  class="nav-item dropdown1">
    <a i18n="@@MainSpeakToUs" mdbTooltip="Speak to us" class=" nav-link dropdown-toggle waves-light dropbtn1" style="color:black">Speak to us</a>
    <div class="dropdown1-content">
       <!--<a i18n="@@mainContactUs" mdbTooltip="Contact us" style="color:black" class="nav-link waves-light" routerLink="/contact"  mdbWavesEffect>Contact Us</a>
        <a i18n="@@mainChatroom" mdbTooltip="Chatroom" style="color:black" class="nav-link waves-light" routerLink="/chatroom"  mdbWavesEffect>Chatroom</a>
   --> 
        <a i18n="@@mainContactUs" routerLink="/contact" >Contact us</a>
        <a i18n="@@mainChatroom" routerLink="/chatroom">Dhvani's Chatroom</a>
      <a i18n="@@mainNewPost" routerLink="/new" >Write a new post</a>
      <a i18n="@@mainCheckStories" routerLink="/feed">Check stories</a>
      <a i18n="@@mainWhereToGo" routerLink="/where-to-go">Where to go???</a>
    
  </div>
  
</li>
   
  
    <li style="z-index: 4"  class="nav-item dropdown1">
      <a i18n="@@mainOurDonors" mdbTooltip="Help for GDD" class=" nav-link dropdown-toggle waves-light dropbtn1" style="color:black">Our Donors</a>
      <div class="dropdown1-content">
        <a i18n="@@mainBecomeADonor" routerLink="/become-donor">Become a donor</a>
        <a i18n="@@mainOurDonorSheet" routerLink="/donor-sheet">Our donor sheet</a>
    </div>
    
</li>
        
    <li style="z-index: 4"  class="nav-item dropdown1">
        <a i18n="@@mainAboutUs" mdbTooltip="About Us" class=" nav-link dropdown-toggle waves-light dropbtn1" routerLink="/about-us" style="color:black">About Us</a>
        <div class="dropdown1-content">
          <a i18n="@@mainMeetOurTeam" routerLink="/about-us">Meet our team</a>
          <a i18n="@@mainAcknowledgement" routerLink="/acknowledgement">Acknowledgement</a>
      </div>
      
  </li>
        
     
        <!-- Dropdown -->
        
        <li style="z-index: 4"  class="nav-item dropdown1">
            <a i18n="@@mainLanguage" mdbTooltip="Language" class=" nav-link dropdown-toggle waves-light dropbtn1" style="color:black">Language</a>
            <div class="dropdown1-content" style="float:left" >
                <a href="/fr/"   i18n="@@mainKannada" class="dropdown-item waves-light" mdbWavesEffect >Kannada</a>
                <a href="/en/" i18n="@@mainEnglish" class="dropdown-item waves-light" mdbWavesEffect >English</a>
                <a href="/es/"  i18n="@@mainFrench" class="dropdown-item waves-light" mdbWavesEffect >Hindi</a>
             </div>
          
      </li>
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
          
        <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <mdb-icon fas icon="user"></mdb-icon> <span *ngIf="!currentUser"  style="width:80%">Hi guest</span><span *ngIf="currentUser"  style="width:2%">Hi {{currentUser.firstName}}!</span><span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" routerLink="/profile" mdbWavesEffect href="#">My account</a>
              <div class="navbar-nav"  *ngIf="!currentUser">
                  <a class="nav-item nav-link"  routerLink="/login">Login</a>
              </div>
              <div class="navbar-nav"  *ngIf="currentUser">
                  <a class="nav-item nav-link" (click)="logout()">Logout</a>
              </div>
            </div>
            
        
          </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
  
<!--/.Navbar-->
