<p>
    The excitement of parents when they notice their children making
    eye contact, showing attachment to certain people, trying to babble,
    saying their first words, pointing at things, handling toys, rolling over
    on their tummy, crawling, sitting or walking. These actions are the
    important skills they develop, as they grow and happen at age
    intervals that most of us are aware. These skills are known as
    ‘developmental milestones’. These milestones provide important
    information regarding your child's early development. So you could
    say that “Developmental milestones” are physical or behavioral signs
    of development of infants and children.<br/>
    Usually, a child with developmental delay is much slower in reaching
    one or more of these milestones than expected. This delay can occur
    for a variety of reasons and some children eventually catch up.
    Development delay sometimes occurs because the child is born with a
    medical condition which restricts their development.<br/>
    
    Milestones are different for each age range. These milestones are
    behaviors that emerge over time, forming the building blocks for
    growth and continued learning.<br/><br/><br/>
    
    Source:<br/>
    1. https://www.chop.edu/conditions-diseases/developmental-
    milestones
    2. Sheila Davis, 2015, “Developmental Delay: A guide for families
    in England, Northern Ireland, Scotland and Wales”. Available
    [online] at www.cafamily.org.uk/publicationlist
</p>
