<p i18n="@@feedContent">This page has the stories of “dhvani.life” members, other families,
    our well-wishers who wish to contribute to the growing community. Go
    ahead and have a read!</p><h1 class="notification is-info">Your feed</h1>
    <div class="columns">
      <div class="column is-7">
        <div *ngFor="let feed of feeds">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img
                    src="https://bulma.io/images/placeholders/128x128.png"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ feed.title }}</strong>
                    <small>{{ feed.createdAt }}</small> <br />
                    {{ feed.content }}
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>