<!-- nav
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

 -->  
  

<img routerLink="/home" style="margin-left: 45%" src="./assets/blf1.png">
<!--The content below is only a placeholder and can be replaced. rgb(185, 253, 231)-->
<div style="text-align:center;background-repeat:no-repeat;  width: 80vw;

margin: 0.5vw auto; 
background-size: cover;

background-image: url('./assets/l46.jpeg') ">

  <app-main-nav></app-main-nav>
 <!-- <img class="image" style="z-index:1" src="./assets/baby14.jpg">
  <img class="image-right" style="z-index:1" src="./assets/baby14.jpg">
    <img style="z-index:1" src="./assets/gdd-templayout-25-04.jpg">-->
<!-- <app-home></app-home>--> 
<alert></alert>
<router-outlet></router-outlet>


<footer class="page-footer font-small ">

       
  <div class="footer-copyright text-center py-3" >
    <!--<script type="text/javascript">
      var sc_project=12002171; 
      var sc_invisible=0; 
      var sc_security="0cb933e6"; 
      var sc_https=1; 
      var scJsHost = "https://";
      document.write("<sc"+"ript type='text/javascript' src='" +
      scJsHost+
      "statcounter.com/counter/counter.js'></"+"script>");
      </script>
      
    <noscript><div class="statcounter"><a title="free hit
      counter" href="https://statcounter.com/"
      target="_blank"><img class="statcounter"
      src="https://c.statcounter.com/12002171/0/0cb933e6/0/"
      alt="free hit counter"></a></div></noscript>
 End of Statcounter Code 
      <a href="https://statcounter.com/p12002171/?guest=1">View My
      Stats</a>
      -->
    
        
          <a href="https://www.facebook.com/Global-Developmental-Delay-140028059374556/" target="_blank">
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
    

      <a href="https://twitter.com/gdduk1?lang=en" target="_blank" >
        <mdb-icon fab icon="twitter"></mdb-icon>
      </a>
   
  
      <a href="https://www.instagram.com/developmentaldelays/" target="_blank" >
        <mdb-icon fab icon="instagram"></mdb-icon>
      </a>
   
    <a i18n="@@footerContent" href="https://mdbootstrap.com/education/bootstrap/"> © 2019 Copyright: dhvani.life</a>
    <br/><a href="https://smallseotools.com/visitor-hit-counter/" target="_blank" title="Visitor Hit Counter">
      Visitor Count: <img src="https://smallseotools.com/counterDisplay?code=41d1b5600fc2f922063f56610680e14c&style=0010&pad=7&type=ip&initCount=1"  title="Visitor Hit Counter" Alt="Visitor Hit Counter" border="0">
      </a>
      </div>

</footer>
 