<p>
  Regardless of whether your child has developmental delays or not, do not ever
  forget to immunize your child. Here is the image of the immunization schedule:
<br/>
  <br/>
  <a target="_blank" href="https://mohfw.gov.in/sites/default/files/245453521061489663873.pdf">Link to the National Immunization Schedule 2017 (English) (PDF)</a>
  <br/>
<a target="_blank" href="https://communitymedicine4asses.com/2018/12/16/national-immunization-schedule-2018-india/">Link to article on National Immunization Schedule 2018</a>
<br/><br/><br/><span style="background-color:rgb(0, 230, 199); margin-left:23%;color:white">Disclaimer: Always consult your child pediatrician for all your queries</span>
</p>
