

p {
    padding: 2%;
    background: #fff9c6;
    color: #9b8652;
    border: 1px solid #fce29f;
    border-radius: .25em;
    font-size: 130%;
    font-family: 'corbel';
  text-align: justify;
  margin:0 auto 0 auto;
  margin-top:2%;
  width:70%;
  }
  .matlist{
    width:80%;
    margin:0 auto 0 auto;
    align-content: left;
  }
  
  .mat{
    font-size: 130%;
    font-family: 'corbel';
  text-align: justify;
  }
  
  h3{
    font-family: ink free;
  }
  