<div i18n="@@checkYourMilestonesContent" class="div1">
    It is usually the parent that would be able to do the first level of
    assessment and I read in an article 1 the doctor mentioned “When a
    parent is worried, there is a good chance that something needs
    attention”. So you are doing a good job as a parent if you are looking
    for the red flags! Red flags indicate warning signs.<br/><br/><br/>
   <div style="background: #9b8652;
   color: #fff9c6;"> <i>A word of caution: </i>It is better to observe and record these
observations with the exact or approximate date of recording.</div>
<br/>
<img style="margin:0 auto 0 auto; margin-left:7%" src="./assets/check.png">
<br/>
Source: 1 Raymond Tervo, 2009. “Red flags and Rules of Thumb: Sorting out
developmental delay”, A Pediatric perspective, Vol.18, No. 2
</div>
