<p i18n="@@whereToGoContent">I live in Manipal and I have access to one of the best pediatric
    departments in this part of Karnataka. Ishaani was under the care,
    treatment and observation of an amazing team lead by Dr Pushpa G
    Kini at Kasturba Medical hospital, Manipal. We were very fortunate to
    have her to care for our daughter.<br/>
    “dhvani.life” gives you the search option to look for hospitals nearby
    your locations. Just type the location you are looking for and wait for
    the results.</p><br/>
  <input type="text" placeholder="Search.." id="searchText" [(ngModel)]="searchText" name="searchText" uppercase>
  <button type="submit" (click)="search(searchText)"><i class="fa fa-search"></i></button>
<br/>
<mat-list id="matlistudupi">
 
  <mat-card class="matCard">
     <a href="https://www.google.com/maps/dir//Mitra+Hospital,+Old+Post+Office+Road,+Chitpady,+Udupi,+Karnataka+576101/@13.3369414,74.7154781,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbb6eb9fb29a3:0xf619d947084ba00f!2m2!1d74.7504978!2d13.3369438" target="_blank"><b>Mitra Hospital</b></a>
    </mat-card>
    <mat-card>
      <a href="https://www.google.com/maps/dir//Dr.+A.+V.+Baliga+Memorial+Hospital,+6th+Main,+V.+M.+Nagar,+Doddanagudde,+Udupi,+Karnataka+576102/@13.3559236,74.760531,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbca3fa67f1f1:0xe9ca68e7a806ecc3!2m2!1d74.7625439!2d13.3596698" target="_blank"> <b>Dr. A. V. Baliga Memorial Hospital</b></a>
      </mat-card>
      <mat-card class="matCard">
         <a href="https://www.google.com/maps/dir//Adarsha+Hospital,+Near+KSRTC+Bus+stand,+Udupi,+Karnataka+576101/@13.344289,74.7354312,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbb6f96a357bf:0xf946a623c0325736!2m2!1d74.7473998!2d13.3400247" target="_blank"><b> Adarsha Hospital</b></a>
        </mat-card>
        <mat-card>
          <a href="https://www.google.com/maps/dir//Dr.TMA+Pai+Hospital,+Court+Rd,+Opp+Taluk+Office,+Brahmagiri,+Udupi,+Karnataka+576101/@13.3502608,74.7295927,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbb6d0b05aa6d:0x7299e9dc4acda3cc!2m2!1d74.747146!2d13.33252" target="_blank"><b> Dr.TMA Pai Hospital </b> </a>
          </mat-card>
          <mat-card class="matCard">
           <a href="https://www.google.com/maps/dir//hospitals+in+udupi/@13.3076113,74.7280769,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbb13324ecacf:0x6ad0800eedf11d!2m2!1d74.7487594!2d13.329593" target="_blank">	 <b> CSI Lombard Memorial Hospital</b> </a>
            </mat-card>
            <mat-card>
              <a href="https://www.google.com/maps/dir//hospitals+in+udupi/@13.3106766,74.7281198,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbb6fa09ca5e5:0x88f1962ef79e2e8f!2m2!1d74.7483158!2d13.3397037" target="_blank"> <b> Lalith Hospital</b></a>
              </mat-card>
              <mat-card class="matCard">
                <a href="https://www.google.com/maps/dir//hospitals+in+udupi/@13.3127516,74.7109248,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbb65adc949b5:0x982325f03bc32b57!2m2!1d74.7489139!2d13.3438899" target="_blank"><b>Gandhi Hospital</b> </a>
                </mat-card>
                <mat-card >
                   <a href="https://www.google.com/maps/dir//hospitals+in+udupi/@13.3104936,74.7267474,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbb702b50a9d1:0x4954e9d4a0360708!2m2!1d74.7450703!2d13.3383675" target="_blank">	<b> New City Hospital</b></a>
                  </mat-card>
                  <mat-card class="matCard">
                    <a href="https://www.google.com/maps/dir//hospitals+in+udupi/@13.3103332,74.7267474,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbb7702005ddb:0xba9fa75af3817fd4!2m2!1d74.7370086!2d13.337836" target="_blank"><b> HITECH MEDICARE HOSPITAL</b> </a>
                    </mat-card>
                    
</mat-list>
<mat-list id="matlistmanipal">
  <mat-card>
   <a href="https://www.google.com/maps/dir//hospitals+in+udupi/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3bbca4a9c4b4ba9b:0xd270efcb8ce4678e?sa=X&ved=2ahUKEwjsvtLD1-DiAhUI3Y8KHTCgAN0Q9RcwAHoECAEQCQ" target="_blank"><b>Kasturba Hospital manipal, Manipal</b></a>
  </mat-card>
  <mat-card class="matCard">
     <a href="https://www.google.com/maps/dir//hospitals+in+manipal/@13.314106,74.7233682,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbcbb4fe86c29a3:0x14f5146b132fc531!2m2!1d74.7700893!2d13.3418949" target="_blank"><b>Konkan Railway Health Unit</b></a>
    </mat-card>
    <mat-card>
      <a href="https://www.google.com/maps/dir//hospitals+in+manipal/@13.3150386,74.7291684,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bbca4ad0ec6c815:0x4b3579ce8cc2f6be!2m2!1d74.782742!2d13.3450535" target="_blank"> <b>Sonia Clinic & Nursing Home</b></a>
      </mat-card>
   <!--  <mat-card class="matCard">
         <a href="https://www.google.com/search?rlz=1C1CHBF_enIN828IN828&biw=1396&bih=657&ei=5S68XMiRDOjYz7sP8_GIsA0&q=hospitals%20in%20udupi&oq=hospitals+in+udupi&gs_l=psy-ab.3..35i39j0i20i263j0i22i30l8.8093.16289..16515...5.0..0.512.3745.0j17j2j1j0j1......0....1..gws-wiz.......0i71j0i67j0i131j0j0i10.dX4c5yi8XWU&npsic=0&rflfq=1&rlha=0&rllag=13348306,74770295,2485&tbm=lcl&rldimm=15163883602877638542&ved=2ahUKEwiB_fCc5-DhAhWy73MBHTU6ApUQvS4wAHoECAoQLA&rldoc=1&tbs=lrf:!2m4!1e17!4m2!17m1!1e2!2m1!1e2!2m1!1e3!2m1!1e16!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:17962226836292392758;mv:!1m2!1d13.3631867!2d74.7933509!2m2!1d13.297537199999999!2d74.7325225;tbs:lrf:!2m1!1e2!2m1!1e3!2m1!1e16!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank"><b> Women And Child Block Kastuba Hospital Manipal</b></a>
        </mat-card>
        <mat-card>
          <a href="https://www.google.com/search?rlz=1C1CHBF_enIN828IN828&biw=1396&bih=657&ei=5S68XMiRDOjYz7sP8_GIsA0&q=hospitals%20in%20udupi&oq=hospitals+in+udupi&gs_l=psy-ab.3..35i39j0i20i263j0i22i30l8.8093.16289..16515...5.0..0.512.3745.0j17j2j1j0j1......0....1..gws-wiz.......0i71j0i67j0i131j0j0i10.dX4c5yi8XWU&npsic=0&rflfq=1&rlha=0&rllag=13348306,74770295,2485&tbm=lcl&rldimm=15163883602877638542&ved=2ahUKEwiB_fCc5-DhAhWy73MBHTU6ApUQvS4wAHoECAoQLA&rldoc=1&tbs=lrf:!2m4!1e17!4m2!17m1!1e2!2m1!1e2!2m1!1e3!2m1!1e16!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:8257888524117582796;mv:!1m2!1d13.3631867!2d74.7933509!2m2!1d13.297537199999999!2d74.7325225;tbs:lrf:!2m1!1e2!2m1!1e3!2m1!1e16!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank"><b> Neurosurgery Department, Dhanvantari Complex, KMC, Manipal </b> </a>
          </mat-card>
          <mat-card class="matCard">
           <a href="https://www.google.com/search?rlz=1C1CHBF_enIN828IN828&biw=1396&bih=657&ei=5S68XMiRDOjYz7sP8_GIsA0&q=hospitals%20in%20udupi&oq=hospitals+in+udupi&gs_l=psy-ab.3..35i39j0i20i263j0i22i30l8.8093.16289..16515...5.0..0.512.3745.0j17j2j1j0j1......0....1..gws-wiz.......0i71j0i67j0i131j0j0i10.dX4c5yi8XWU&npsic=0&rflfq=1&rlha=0&rllag=13348306,74770295,2485&tbm=lcl&rldimm=15163883602877638542&ved=2ahUKEwiB_fCc5-DhAhWy73MBHTU6ApUQvS4wAHoECAoQLA&rldoc=1&tbs=lrf:!2m4!1e17!4m2!17m1!1e2!2m1!1e2!2m1!1e3!2m1!1e16!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:30065595956195613;mv:!1m2!1d13.3631867!2d74.7933509!2m2!1d13.297537199999999!2d74.7325225;tbs:lrf:!2m1!1e2!2m1!1e3!2m1!1e16!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank">	 <b> CSI Lombard Memorial Hospital</b> </a>
            </mat-card>
            <mat-card>
              <a href="https://www.google.com/search?rlz=1C1CHBF_enIN828IN828&biw=1396&bih=657&ei=5S68XMiRDOjYz7sP8_GIsA0&q=hospitals%20in%20udupi&oq=hospitals+in+udupi&gs_l=psy-ab.3..35i39j0i20i263j0i22i30l8.8093.16289..16515...5.0..0.512.3745.0j17j2j1j0j1......0....1..gws-wiz.......0i71j0i67j0i131j0j0i10.dX4c5yi8XWU&npsic=0&rflfq=1&rlha=0&rllag=13348306,74770295,2485&tbm=lcl&rldimm=15163883602877638542&ved=2ahUKEwiB_fCc5-DhAhWy73MBHTU6ApUQvS4wAHoECAoQLA&rldoc=1&tbs=lrf:!2m4!1e17!4m2!17m1!1e2!2m1!1e2!2m1!1e3!2m1!1e16!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:9867833387012468367;mv:!1m2!1d13.3631867!2d74.7933509!2m2!1d13.297537199999999!2d74.7325225;tbs:lrf:!2m1!1e2!2m1!1e3!2m1!1e16!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank"> <b> Lalith Hospital</b></a>
              </mat-card>
              <mat-card class="matCard">
                <a href="https://www.google.com/search?rlz=1C1CHBF_enIN828IN828&biw=1396&bih=657&ei=5S68XMiRDOjYz7sP8_GIsA0&q=hospitals%20in%20udupi&oq=hospitals+in+udupi&gs_l=psy-ab.3..35i39j0i20i263j0i22i30l8.8093.16289..16515...5.0..0.512.3745.0j17j2j1j0j1......0....1..gws-wiz.......0i71j0i67j0i131j0j0i10.dX4c5yi8XWU&npsic=0&rflfq=1&rlha=0&rllag=13348306,74770295,2485&tbm=lcl&rldimm=15163883602877638542&ved=2ahUKEwiB_fCc5-DhAhWy73MBHTU6ApUQvS4wAHoECAoQLA&rldoc=1&tbs=lrf:!2m4!1e17!4m2!17m1!1e2!2m1!1e2!2m1!1e3!2m1!1e16!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:10962647631674944343;mv:!1m2!1d13.3631867!2d74.7933509!2m2!1d13.297537199999999!2d74.7325225;tbs:lrf:!2m1!1e2!2m1!1e3!2m1!1e16!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank"><b>Gandhi Hospital</b> </a>
                </mat-card>
                <mat-card >
                   <a href="https://www.google.com/search?rlz=1C1CHBF_enIN828IN828&biw=1396&bih=657&ei=5S68XMiRDOjYz7sP8_GIsA0&q=hospitals%20in%20udupi&oq=hospitals+in+udupi&gs_l=psy-ab.3..35i39j0i20i263j0i22i30l8.8093.16289..16515...5.0..0.512.3745.0j17j2j1j0j1......0....1..gws-wiz.......0i71j0i67j0i131j0j0i10.dX4c5yi8XWU&npsic=0&rflfq=1&rlha=0&rllag=13348306,74770295,2485&tbm=lcl&rldimm=15163883602877638542&ved=2ahUKEwiB_fCc5-DhAhWy73MBHTU6ApUQvS4wAHoECAoQLA&rldoc=1&tbs=lrf:!2m4!1e17!4m2!17m1!1e2!2m1!1e2!2m1!1e3!2m1!1e16!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:5284105362242668296;mv:!1m2!1d13.3631867!2d74.7933509!2m2!1d13.297537199999999!2d74.7325225;tbs:lrf:!2m1!1e2!2m1!1e3!2m1!1e16!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank">	<b> New City Hospital</b></a>
                  </mat-card>
                  <mat-card class="matCard">
                    <a href="https://www.google.com/search?rlz=1C1CHBF_enIN828IN828&biw=1396&bih=657&ei=5S68XMiRDOjYz7sP8_GIsA0&q=hospitals%20in%20udupi&oq=hospitals+in+udupi&gs_l=psy-ab.3..35i39j0i20i263j0i22i30l8.8093.16289..16515...5.0..0.512.3745.0j17j2j1j0j1......0....1..gws-wiz.......0i71j0i67j0i131j0j0i10.dX4c5yi8XWU&npsic=0&rflfq=1&rlha=0&rllag=13348306,74770295,2485&tbm=lcl&rldimm=15163883602877638542&ved=2ahUKEwiB_fCc5-DhAhWy73MBHTU6ApUQvS4wAHoECAoQLA&rldoc=1&tbs=lrf:!2m4!1e17!4m2!17m1!1e2!2m1!1e2!2m1!1e3!2m1!1e16!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:13447651021425835988;mv:!1m2!1d13.3631867!2d74.7933509!2m2!1d13.297537199999999!2d74.7325225;tbs:lrf:!2m1!1e2!2m1!1e3!2m1!1e16!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank"><b> HITECH MEDICARE HOSPITAL</b> </a>
                    </mat-card>--> 
                   
</mat-list>
<mat-list id="matlisthubli">
  <mat-card>
   <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3163522,73.7280057,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d725159e6ca9:0xc8f91414e5da9a34!2m2!1d75.1179141!2d15.3561354" target="_blank"><b>Tatwadarsha Hospital</b></a>
  </mat-card>
  <mat-card class="matCard">
     <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3141284,73.6376479,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d746748130a3:0xf8d00285a2463157!2m2!1d75.1366806!2d15.3573261" target="_blank"><b>Hebsur Hospital (Multispeciality Hospitals)</b></a>
    </mat-card>
    <mat-card>
      <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3118039,74.0300924,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d75cbc29d1c5:0x12c5922d4c6db6a7!2m2!1d75.1441253!2d15.3526763" target="_blank"> <b>Shivakrupa Hospital (Dugani)</b></a>
      </mat-card>
      <mat-card class="matCard">
         <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3096558,73.7280057,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d713a4a91107:0xde4f09cfa9dc180!2m2!1d75.1275262!2d15.3393548" target="_blank"><b> Bijapur Hospital</b></a>
        </mat-card>
        <mat-card>
          <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3111829,73.7390355,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d76787754a31:0x6bfffc2331204304!2m2!1d75.1452347!2d15.3479093" target="_blank"><b>Anjuman-E-Islam Hospital </b> </a>
          </mat-card>
          <mat-card class="matCard">
           <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3130604,73.6464251,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d744f2f09e63:0x1af09274bead1a06!2m2!1d75.1404004!2d15.3551569" target="_blank">	 <b> Vivekananda General Hospital</b> </a>
            </mat-card>
            <mat-card>
              <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3124481,73.6428553,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d6b93aaaaaab:0x63ae9b9ace9edc53!2m2!1d75.1243937!2d15.3495725" target="_blank"> <b> Kshema Orthopaedic And Hospital</b></a>
              </mat-card>
              <mat-card class="matCard">
                <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3113352,73.6428553,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d742f5b260d9:0x3cdea8b5a6c945f9!2m2!1d75.1401141!2d15.3493944" target="_blank"><b>City Clinic</b> </a>
                </mat-card>
                <mat-card >
                   <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3128937,74.0300924,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d74346ead7ef:0x56851cc702a6959f!2m2!1d75.142284!2d15.3530591" target="_blank">	<b> Kalghatgi Hospital</b></a>
                  </mat-card>
                  <mat-card class="matCard">
                    <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3096558,73.7280057,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d773b17dfe05:0x8658afbe599541c8!2m2!1d75.1270182!2d15.3402382" target="_blank"><b> ESI Hospital</b> </a>
                    </mat-card>
                    <mat-card >
                        <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3207062,73.6442004,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d733e9c417d9:0x4841ae8520844c7b!2m2!1d75.149852!2d15.36507" target="_blank"><b> Betacon Hospital</b> </a>
                        </mat-card>
                        <mat-card class="matCard">
                            <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3124481,73.6428553,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8cd70176844d5:0xbb82c9743a544b4c!2m2!1d75.1274017!2d15.3530729" target="_blank"><b> Shakuntala Hospital</b> </a>
                            </mat-card>
                            <mat-card >
                                <a href="https://www.google.com/maps/dir//Ayurveda+Mahavidyalaya+%26+Hospital+Hubli,+Heggeri+Colony,+Old+Hubli,+Hubli,+Karnataka+580030/@14.3076116,73.7280057,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d7117fcec65b:0xc7cc9d0d2556acba!2m2!1d75.1252031!2d15.3386584" target="_blank"><b>Ayurveda Mahavidyalaya & Hospital Hubli</b> </a>
                                </mat-card>
                                <mat-card class="matCard">
                                    <a href="https://www.google.com/maps/dir//Shifa+Mental+Health+Hospital+-+Hubli,+Hubli+-+Dharwad+Hwy,+New+Cotton+Market,+Deshpande+Nagar,+Hubli,+Karnataka+580029/@14.3119172,73.6428553,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d7413a6e0f05:0x321e36e980c07866!2m2!1d75.135085!2d15.3523427" target="_blank"><b> Shifa Mental Health Hospital - Hubli</b> </a>
                                    </mat-card>
                                    <mat-card >
                                        <a href="https://www.google.com/maps/dir//Dr+K+H+Jituri+Hospital,+Hosur+Cross,+Hosur,+Hubli,+Karnataka+580021/@14.3124481,73.6428553,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d738a501377d:0xdae2886f368dbac3!2m2!1d75.1306672!2d15.3536083" target="_blank"><b> Dr K H Jituri Hospital</b> </a>
                                        </mat-card>
                                        <mat-card class="matCard">
                                            <a href="https://www.google.com/maps/dir//Moon+Maternity+%26+Children's+Hospital,+Ground+Floor,+Akshay+Plaza,+Near+Chetana+College,+Akshay+Colony,+4th+Phase,+Vidya+Nagar,+Hubli,+Karnataka+580021/@14.3187557,73.7280057,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d7284c446897:0x96656d1151a0792f!2m2!1d75.1097767!2d15.3597047" target="_blank"><b> Moon Maternity & Children's Hospital
                                              </b> </a>
                                            </mat-card>
                                            <mat-card >
                                                <a href="https://www.google.com/maps/dir//Dr+Nalwad+Multispeciality+Hospital,+Airport+Road,+Vikas+Nagar,+Hosur,+Dharwad,+Hubli,+Karnataka+580020/@14.3111829,73.7390355,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d73f95555555:0x78df346de69eaffc!2m2!1d75.1399444!2d15.3391744" target="_blank"><b> Dr Nalwad Multispeciality Hospital</b> </a>
                                                </mat-card>
                                                <mat-card class="matCard">
                                                    <a href="" target="_blank"><b> Vision Eye Hospital [res] Medical</b> </a>
                                                    </mat-card>
                                                    <mat-card >
                                                        <a href="https://www.google.com/maps/dir//hospitals+in+hubli/@14.3241752,73.7280058,8z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bb8d72d49c46bc3:0x692c7162acddeae4!2m2!1d75.1181126!2d15.3685904" target="_blank"><b> Shivaleela Foundation's Hubli Super-speciality Hospital</b> </a>
                                                        </mat-card>
                  
</mat-list>
<mat-list id="matlistbantwal">
    <mat-card class="matCard">
     <a href="https://www.google.com/maps/dir//Government+Hospital,+Bantwal,+Karnataka+574211/@13.0748873,74.7586661,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a66bdaee1175:0xe1bf8a0d10cd32cb!2m2!1d75.0414598!2d12.8937739" target="_blank"><b>Government Hospital</b></a>
    </mat-card>
    <mat-card>
        <a href="https://www.google.com/maps/dir//Somayaji+Hospital,+112,+Jadumarg+near+to+Hotel+Priyadarshini,+Mangaluru,+Karnataka+574219/@13.0748873,74.7479481,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a65bf78b5391:0xce0b17e65e0cad50!2m2!1d75.031898!2d12.8824899" target="_blank"><b>Somayaji Hospital</b></a>
       </mat-card>
       <mat-card class="matCard">
          <a href="https://www.google.com/maps/dir//Perliya+Nursing+Home,+B.C+Road,+Bantwal,+Karnataka+574219/@12.975544,74.7634726,10z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a6572581e027:0x90fab37d65e50d40!2m2!1d75.023641!2d12.880488" target="_blank"><b>Perliya Nursing Home</b></a>
         </mat-card>
         <mat-card>
            <a href="https://www.google.com/maps/dir//Prathvi+Nursing+Home,+Mangalore+-+Dharmastala+Hwy,+B.C+Road,+Bantwal,+Karnataka+574219/@13.0748873,74.7586661,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a65eba46b2e1:0xbb860d96d82a137b!2m2!1d75.0327533!2d12.8808419" target="_blank"><b>Prathvi Nursing Home</b></a>
           </mat-card>
           <mat-card class="matCard">
              <a href="https://www.google.com/maps/dir//Father+Muller+Hospital,+Thumbay,+Bantwal+Taluk,+D.K,+Mangaluru,+Karnataka+574143/@13.0748346,74.7285999,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a775bc9068d7:0x6e7bbc2b28f93559!2m2!1d74.98723!2d12.871839" target="_blank"><b>Father Muller Hospital</b></a>
             </mat-card>
             <mat-card>
                <a href="https://www.google.com/maps/dir//B+C+Road,+B.C+Road,+Bantwal,+Karnataka+574219/@13.0748873,74.7586661,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a6573654be17:0x48e184666f244855!2m2!1d75.0244419!2d12.880783" target="_blank"><b>B C Road</b></a>
               </mat-card>
               <mat-card class="matCard">
                  <a href="https://www.google.com/maps/dir//V+Care+Laboratory,+B.C+Road,+Bantwal,+Karnataka+574219/@13.0748873,74.7473838,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a65bc10f2081:0x8675ed55b9adf6e2!2m2!1d75.0302378!2d12.8828094" target="_blank"><b>V Care Laboratory</b></a>
                 </mat-card>
                 <mat-card>
                    <a href="https://www.google.com/maps/dir//Narayana+Ayurvedic+Chikitsalaya+Bantwal,+B.C+Road,+Bantwal,+Karnataka+574219/@13.0748873,74.7473838,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a65bebaac80f:0x17d4c2d8b6f7a563!2m2!1d75.030633!2d12.882881" target="_blank"><b>Narayana Ayurvedic Chikitsalaya Bantwal</b></a>
                   </mat-card>
                   <mat-card class="matCard">
                      <a href="https://www.google.com/maps/dir//Vighneshwara+Medicals,+B.C+Road,+Bantwal,+Karnataka+574219/@13.0748873,74.7432604,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a656d223890b:0xb569dd470c854754!2m2!1d75.0225288!2d12.8808706" target="_blank"><b>Vighneshwara Medicals</b></a>
                     </mat-card>
                     <mat-card>
                        <a href="https://www.google.com/maps/dir//Govt+Hospital+Sajipa,+Sajipa,+Sajipanadu,+Karnataka+574231/@13.0430195,74.7582584,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a716359d0f23:0x267cb26e5501cbe1!2m2!1d74.9995852!2d12.8532198" target="_blank"><b>Govt Hospital Sajipa</b></a>
                       </mat-card>
                         <mat-card class="matCard"> 
                            <a href="https://www.google.com/maps/dir//Govt+Ayurvedic+Hospital,+Sajipamuda,+Munnuru,+Karnataka+574231/@13.0430195,74.7582584,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a6e18c334995:0xa693faa1c55a731c!2m2!1d75.016145!2d12.8579089" target="_blank"><b>Govt Ayurvedic Hospital, Sajipamuda</b></a>
                           </mat-card>
                           <mat-card>
                              <a href="https://www.google.com/maps/dir//Panjikal+Government+Hospital,+Panjikal,+Karnataka+574211/@13.1071688,74.7609022,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a8adac30ee35:0x4a9d4729cc5e6117!2m2!1d75.0576845!2d12.931123" target="_blank"><b>Panjikal Government Hospital</b></a>
                             </mat-card>
                             <mat-card class="matCard">
                                <a href="https://www.google.com/maps/dir//Pushparaj+Hospital,+Virajpet-Byndoor+Rd,+Kalladka,+Karnataka+574222/@13.0430195,74.767438,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba4a4053477a5f3:0x8ff132dea33fa289!2m2!1d75.070884!2d12.8448193" target="_blank"><b>Pushparaj Hospital</b></a>
                               </mat-card>
    
                                                                                                                                                   
                    
  </mat-list>
  <mat-list id="matlistmangalore">
      <mat-card class="matCard">
       <a href="https://www.google.com/maps/dir//KMC+Hospital+Mangalore+Tower+II,+Balmatta+Rd,+Near+Jyoti+Circle,+Hampankatta,+Mangaluru,+Karnataka+575001/@13.0776357,74.6750842,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a4993ec4925:0xf7e8eff2463b0352!2m2!1d74.848264!2d12.8719092" target="_blank"><b>KMC Hospital Mangalore Tower II</b></a>
      </mat-card>
      <mat-card>
          <a href="https://www.google.com/maps/dir//Padmavathi+Hospital,+Opposite+Mangalore+City+Corporation,+Surathkal+Overpass,+Surathkal,+Mangaluru,+Karnataka+575014/@13.1373997,74.6562488,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba351f47bd83fe7:0x378ba09f8841e9bb!2m2!1d74.800355!2d12.9915559" target="_blank"><b>Padmavathi Hospital</b></a>
         </mat-card>
         <mat-card class="matCard">
            <a href="https://www.google.com/maps/dir//Yenepoya+Specialty+Hospital,+KSR+Road,+Opp+Bishop's+House,+Kodailbail,+Mangaluru,+Karnataka+575003/@13.0764108,74.6750842,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a4e4fe99a89:0xed72ce8be87c6920!2m2!1d74.8412242!2d12.8730398" target="_blank"><b>Yenepoya Specialty Hospital</b></a>
           </mat-card>

           <mat-card class="matCard">
              <a href="https://www.google.com/maps/dir//hospitals+in+mangalore/@13.0747775,74.6750842,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a332a58ed3b:0x789fd619d556f872!2m2!1d74.8595987!2d12.8662981" target="_blank"><b>Father Muller Hospital Mangalore.</b></a>
             </mat-card>
             <mat-card>
                <a href="https://www.google.com/maps/dir//Indiana+Hospital+%26+Heart+Institute,+Pumpwell,+Mangaluru,+Karnataka+575007,+Mangaluru,+Karnataka+575002/@13.0751595,74.6750842,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a2cc3237679:0xfab2afa5f124a0e1!2m2!1d74.8662268!2d12.8677132" target="_blank"><b>Indiana Hospital & Heart Institute</b></a>
               </mat-card>
               <mat-card class="matCard">
                  <a href="https://www.google.com/maps/dir//Unity+Hospital,+Unity+Care+and+Health+Services+Pvt+Ltd.,+P.B+No.535,+Highlands,+Mangaluru,+Karnataka+575002/@13.0754589,74.6750842,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a34e4cee1c5:0x5589a59aadaeca0a!2m2!1d74.8540711!2d12.8676609" target="_blank"><b>Unity Hospital</b></a>
                 </mat-card>

                 <mat-card >
                    <a href="https://www.google.com/maps/dir//S.C.S.Hospital,+Bendroor+well+Road,+Balmatta,+Mangaluru,+Karnataka+575004/@13.0788969,74.6750842,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a3721e0dadb:0x456982ce690f83f!2m2!1d74.8550059!2d12.8746076" target="_blank"><b>S.C.S.Hospital</b></a>
                   </mat-card>
                   <mat-card class="matCard">
                      <a href="https://www.google.com/maps/dir//Ground+Floor,+Tejasvini+Hospital+Speciality+Block,+Kadri+Temple+Rd,+Mallikatte,+Kadri,+Mangaluru,+Karnataka+575002/@13.081792,74.6750842,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a38fddf37c1:0x4c0e91004807ed55!2m2!1d74.8537239!2d12.8802774" target="_blank"><b>Tejasvini Hospital Speciality Block</b></a>
                     </mat-card>    <mat-card>
                        <a href="https://www.google.com/maps/dir//A.J.+Hospital+%26+Research+Centre,+NH+66,+Kuntikana,+Mangaluru,+Karnataka+575004/@13.0906852,74.6750842,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a682d20b7bb:0x56352072513aae09!2m2!1d74.8460424!2d12.8993527" target="_blank"><b>A.J. Hospital & Research Centre</b></a>
                       </mat-card>    <mat-card class="matCard">
                          <a href="https://www.google.com/maps/dir//Vishal+Children's+%26+Maternity+Hospital,+West+Kodialguthu,+Mannagudda+Rd,+Mangaluru,+Karnataka+575003/@13.0810482,74.6750842,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ba35a5c84ae9079:0x600d12b3a62ab7ca!2m2!1d74.8360887!2d12.8794461" target="_blank"><b>Vishal Children's & Maternity Hospital</b></a>
                         </mat-card>
     
                                                                                                                                                     
                      
    </mat-list>
<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
</form>