<p i18n="@@DoctorVisitContent">
  When you do decide to meet the doctor with your child for the first time after you
notice something different, it would be better if you prepare yourself. Keep some
things that might help you explain the problem much more easily. I know it helped
me, in convincing the doctor that we really have a concern and that we need help.<br/><br/>
 Do not forget to carry “the booklet” that the maternity hospital provides
you when you delivered your baby.
<br/>
<span style="padding-left: 200px">
o Check for head circumference<br/></span>
<span style="padding-left: 200px">o Length of the baby at birth<br/></span>
<span style="padding-left: 200px">o Gestation period (how many weeks when you delivered)<br/></span>
<span style="padding-left: 200px">o Delivery: normal or caesarian<br/><br/></span>
 Keeping a notepad/dairy of events/incidents that you might have observed<br/>
 Photographs in chronological order<br/>
 Videos of your child when he/she was (in your opinion) doing things
normally and when things started changing (in chronological order)<br/>
 Any earlier medical records (if you consulted another doctor earlier)<br/>
</p>
