

    <div style="text-align:center">
      <img
        width="300"
        alt="Pusher Logo"
        src="https://djmmlc8gcwtqv.cloudfront.net/imgs/channels/channels-fold.png"
      />
    </div>
    <div style="text-align:center">
      <h2 i18n="@@DashboardContent">Here are some links to help you start:</h2>

      <nav>
        <a i18n="@@CreateNewPostContent" routerLink="/new" routerLinkActive="active">Create new Post</a> <br />
        <br />
        <a i18n="@@ViewRealtimeFeedContent" routerLink="/feed" routerLinkActive="active">View realtime feed</a>
      </nav>
    </div>