<p>
    Once you know that child may have some development delays, it is
    advisable, with consent from your pediatrician to ensure your child
    has regular sessions with the physiotherapist, occupational therapist
    or speech language pathologist. <br/> <br/>
    “Like I mentioned before I felt that getting a name for Ishaani’s
    condition would help us when explaining to others what was wrong, but
    in the end it didn’t really matter. All the health professionals involved
    needed to know was what the immediate difficulties were, so the
    right.”
    <br/>
    These health professionals are likely to ask questions about how your
    child has developed since birth and may want to spend time observing
    and possibly giving them one or more developmental assessments.
    Professionals are likely to be interested in how your child moves, how
    many words your child understands and how they play with toys and
    other people. If you have been recording your child’s progress in their
    Personal Child Health record, they will find this information useful.
    The specialists might suggest ways to help your child make more
    progress. For example, activities to improve movement and
    coordination or ways to help your child develop their speech and
    communication. <br/>
    They might ask you to keep a record of your child’s development, to
    note their achievements and areas for improvement.
</p>
