table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 	background: #eee; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}
nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 2px 2px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }
  
  
  .demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 2px;
  }
  
  .mat-tab-label-active{
    background-color: red ;
    opacity: 1 !important;
  }

.mat-tab{
    background-color: red;
}

  
  
.div1 {
  padding: 2%;
  background: #fff9c6;
  color: #9b8652;
  border: 1px solid #fce29f;
  border-radius: .25em;
      font-size: 130%;
  font-family: 'corbel';
text-align: justify;
}


li:before {
  //content: '\1F95E';
  content:'👶🏻';
  margin-left: -20px;
  margin-right: 10px;
  }