
<mat-tab-group >
  <mat-tab style="background-color: red" label="Finger Brush"> <table> <tr><td><img style="width:50%" src="./assets/brush.jpeg"></td><td>A finger toothbrush is a small set of soft cleaning
    bristles worn on the fingertip. Most finger toothbrush
    bristles are made of the pliable and easy to clean
    material silicone.</td></tr><tr><td><img style="width:50%" src="./assets/brush2.jpg"></td><td>How to use:<br/>
      <ul class="leaf"><li> Sterilize before use by immersing in boiling
      water 2-5 minutes.</li><br/>
      <li> Wash your hands. Place finger toothbrush on
      index finger. Make sure finger fits snugly inside
      once put on</li><br/>
    <li>Place small amount of tooth paste on bristles</li><br/>
  <li> Use small circular motion to gently brush your
      baby’s tiny teeth and gums</li><br/>
    <li> After use, wash in hot water with mild soap and
      rinse thoroughly with clear water</li><br/>
    <li> Brush twice a day</li><br/>
  <li> This toothbrush is not a toy so don’t allow your
      child to play with it, and to be used by adults only</li><br/>
    <li> Wash before initial use</li></ul></td></tr></table> </mat-tab>
  <mat-tab label="Nose Pump"><table> <tr><td><img style="width:80%" src="./assets/brush3.jpg"></td><td>A nasal aspirator is essentially a small device that
    uses suction to draw snot from your baby's nose.
    They are incredibly easy to use, cheap and can have
    your baby breathing normally in as little as thirty
    seconds.</td></tr><tr><td><img src="./assets/brush4.jpg"></td><td>How do I use it?<br/>
      <ul>
          <li> Squeeze the air out of the bulb of the syringe to
      create a vacuum. Then gently insert the rubber
      tip into one nostril. Slowly release the bulb to
      suction out mucus. Remove the syringe and
      squeeze the bulb forcefully to expel the mucus
      into a tissue. Wipe the syringe and repeat the
      process for the other nostril.</li><br/>
      <li> If your baby is still congested after five to ten
      minutes, apply saline drops again and re-suction.</li><br/>
      <li> Do not suction your baby's nose more than two
      or three times a day, though, or you'll irritate its
      lining</li><br/>
      <li> Please be gentle when using this and do not
      suction too aggressively.
      How do I clean the syringe?
      You can clean it well with warm, soapy water after
      each use. Squeeze the bulb with the tip in the soapy
      water to clean the inside, too. (Shake the soapy water
      inside the bulb before squeezing it out.)
      Rinse well by repeating the process several times
      with clear warm water. Suspend the syringe, tip side
      down, in a glass to dry</li><br/></ul></td></tr></table> </mat-tab>
  <mat-tab label="Nebulizer"> <table> <tr><td><img style="width:50%" src="./assets/brush5.jpeg"></td><td>Nebulizers are electric- or battery-powered
    machines that turn liquid asthma medicine into a
    fine mist. This mist comes through a tube that is
    attached to a mouthpiece or facemask. (A facemask
    is a kind of plastic cup that covers the mouth and
    nose.)</td></tr><tr><td><img style="width:50%" src="./assets/brush6.jpeg"></td><td>How to use:<br/><ul>
      <li> Put the compressor on a flat surface where it can
      safely reach an outlet.</li><br/>
      <li> Check to make sure all the pieces are clean.<br/>
        <li> Wash your hands before prepping the
      medication.</li><br/>
      <li> If your medication is premixed, place it in the
      container. If you need to mix it, measure the
      correct amount, and then place it in the
      container.</li><br/>
      <li> Connect the tube to the compressor and the
      liquid container.</li><br/>
      <li> Attach the mouthpiece or mask.</li><br/>
        <li> Turn on the switch and check to see that the
      nebulizer is misting.</li><br/>
      <li> Put the mouthpiece in your mouth and close
      your mouth around it or put the mask securely
      over your nose and mouth, leaving no gaps.</li><br/>
      <li> Slowly breath in and out until the medicine is
      gone. This may take five to 15 minutes.</li><br/>
      <li> Keep the liquid container upright throughout the
      treatment.</li></ul><br/><br/>
      How do I clean it?
      Daily cleaning
      1. Take off the mouthpiece/mask and remove
      the medicine container. Wash this with hot
      water and mild liquid dish soap.<br/>
      2. Shake off the extra water.<br/>
      3. Reconnect the medicine container and
      mouthpiece/mask to the compressor. Turn
      on the device to air dry the pieces.<br/><br/>
      Disinfecting
      Take off the detachable parts (mouthpiece
      and medicine container).<br/>
      Soak them in the solution provided by your
      doctor or one part white vinegar and three
      parts hot water.<br/>
      Let these parts soak for one hour, or as long
      as listed on the instructions.<br/>
      Remove the parts and either let them air dry
      or reconnect the machine to dry them.</td></tr></table> </mat-tab>
      <mat-tab label="Ryle’s tube or Nasogastric tube (NG)"> <table> <tr><td><img style="width:80%" src="./assets/brush7.jpg"></td><td>A nasogastric (NG) tube is a small tube that goes into
        the stomach through the nose. Breast milk, formula,
        or liquid food is given through the tube directly into
        the stomach, giving your child extra calories.
        Note: The type of tube, how often it needs to be changed,
        type and amount of formula, and length of feeding time
        will be decided by the pediatrician, depending on your
        child's needs.</td></tr><tr><td><img style="width:80%" src="./assets/brush8.png"></td><td>How to use:
          <ul> <li> Infants and young children may be most
          comfortable with their head and upper body
          raised, or lying on their left side.</li><br/>
          <li> Wash your hands.</li><br/>
            <li> Measure the correct amount of formula and
          warm it to the desired temperature.</li><br/>
          <li> Clamp the tube.</li><br/>
            <li> Attach a syringe to the feeding tube.</li><br/>
              <li> Pour the formula into the syringe.</li><br/>
                <li> Unclamp the tube.</li><br/>
                  <li>Allow the formula to run for the same amount of
          time as it would take the child to drink it by
          mouth, or as prescribed by the doctor.
          Ways to help the feeding flow:</li><br/>
          <li> Try to start the feeding when the child is calm.
          You may have to "push" the feeding to get it
          started. To do this, place a plunger into the
          syringe and push slightly. Remove the plunger
          gently and allow the formula to flow in by
          gravity.</li><br/>
          <li> Do not feed your child if he/she is not calm</li><br/>
            <li> During the feeding, keep the bottom of the
          syringe no higher than 6 inches above the child's
          stomach.</li><br/>
          <li> Continue adding formula into the syringe until
          the prescribed amount is given.</li><br/>
          <li> When the syringe is empty, flush the tube with
          the prescribed amount of warm water.</li><br/><br/>
          After the feeding:<br/>
          <li> Clamp the tube.</li><br/>
            <li> Burp your child.</li><br/><br/>
          Be careful to notice:<br/>
          
          
          <li> For Clogged or plugged feeding tube: Flush
          tube with warm water. Go to clinic, remove and
          replace tube</li><br/>
          <li> Coughing while tube is in place (to prevent
          aspiration):</li><br/><br/>
          o If your child gags or coughs during the
          feeding, pinch the tube and pull it out.
          Comfort your child until calm, and try
          again.<br/>
          o Before starting the feeding, be sure to
          check the placement of the tube<br/><br/>
          
          <li> For every feed:</li><br/></ul>
          o Make sure the feeding syringe is already
          connected to the NG tube.<br/>
          o Pour water into the syringe. Let it run
          through the NG tube by gravity.<br/>
          o If the water flows too slowly or doesn’t
          flow at all, place the plunger in the syringe.
          Gently push the plunger a small amount.
          This can help remove anything that is
          blocking or clogging the NG tube. Do not
          push hard, and do not push the plunger all
          the way into the syringe. Changing your
          child’s position so that he or she is lying
          down or sitting upright may also improve
          the flow.<br/>
          o Disconnect the syringe from the NG tube
          when the flushing is done.<br/>
          o Close the feeding port cap of the NG
          tubeFlush your child’s NG tube after each
          feed.</td></tr></table> </mat-tab>
      <mat-tab label="Different Mats for your baby">  <table> <tr><td><img style="width:50%" src="./assets/brush9.jpg"></td><td>Mackintosh rubber sheet: To prevent soiling of bed.
        Note: Always place cotton cloth/draw sheet over the
        rubber sheet and avoid direct contact.</td></tr><tr><td><img style="width:50%" src="./assets/brush10.png"></td><td>Sometimes, you can use bed underpads as an
          additional bed protection during changing the
          absorbent product or body washing.</td></tr><tr><td><img style="width:50%" src="./assets/brush11.jpg"></td><td>If you are not comfortable with the stiffer not-so-
            soft Macintosh rubber sheets you can opt for the
            
            softer version to be placed under your child’s
            matress.</td></tr>
            <tr><td><img style="width:50%" src="./assets/brush12.jpg"></td><td>If your child is able to sit or crawl, the foam mat
              will protect him/her from a fall on a hard floor
              providing a cushion, even if you are not around, it is
              moisture-resistant and heat-insulating.</td></tr></table></mat-tab>
</mat-tab-group>
<p class="div1">Source:<br/>
     https://www.dentaltipsforall.com/finger-toothbrush-for-kids-
    benefits-how-to-use/0213/<br/>
     https://www.babycenter.com/0_how-to-use-a-bulb-syringe-or-
    nasal-aspirator-to-clear-a-stuf_482.bc<br/>
     https://www.saintlukeskc.org/health-library/your-childs-
    nasogastric-tube-syringe-feeding<br/>
    
    https://www.childrensmn.org/educationmaterials/childrensmn/
    article/15553/nasogastric-tube-feeding/<br/>
     https://www.fairview.org/patient-education/89299</p>