<p i18n="@@DisclaimerContent" class="mat">
    “dhvani.life” is not a substitute for the role of the pediatrician, a
    clinician or a health professional. The function is to support the
    parent or caretaker of a child with GDD in enabling access to know-
    how, knowledge and access to funds and resources. Users of this
    website or dhvani mobile application are therefore urged to use their
    own judgment to ensure that the child receives the best possible
    care. We have made reasonable efforts the accuracy of the
    information we present on this online knowledge resource, we cannot
    guarantee its correctness and completeness. The information on the
    website is subject to change and we cannot guarantee that it is up-to-
    date.
</p>
